@font-face {
    font-family: 'Fonte Fallout';
    src: url(fallout.ttf);
    font-weight: normal;
    font-style: normal;
}

.fontFallout{
    font-family: 'Fonte Fallout', sans-serif;
    color: #2dd274;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.fontFalloutInput{
    font-family: 'Fonte Fallout', sans-serif;
    color: #2dd274;
}

.fontFalloutMenu{
    font-family: 'Fonte Fallout', sans-serif;
    color: #2dd274;
    font-size: 150%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.text-justify{
    text-align: justify;
}

body{
    background-color: black;
    font-family: 'Fonte Fallout', sans-serif;
    color: #2dd274;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgb(7, 7, 7);
    background-image: url(Papel\ de\ parede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}